@media (max-width: "375px") {
  .leftSection {
    width: 100%;
    background-color: #f7f7f7;
  }
  .bgPatten::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 70%;
    width: 70%;
    background-image: url("../../../public/assets/login/patten2.png");

    background-repeat: no-repeat;
    overflow: hidden;
  }
}
