@media (max-width: "375px") {
  .leftSection {
    width: 100%;
    background-color: #f7f7f7;
    height: 600px;
    padding-bottom: 200px;
    padding-left: 25px;
    padding-right: 25px;
    .returnBtn {
      left: 15px;
      top: 20px;
      font-size: small;
      background-color: white;
      border-color: white;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  }
  .bgPatten::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 70%;
    width: 70%;
    background-image: url("../../../../public/assets/login/patten2.png");

    background-repeat: no-repeat;
    overflow: hidden;
  }
}
