@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-patten {
  position: relative;
} */

.bg-patten::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 70%;
  width: 70%;
  background-image: url("../../public/assets/login/patten.png");
  background-repeat: no-repeat;
}

.bg-patten::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background-image: url("../../public/assets/login/patten-1.png");
  background-repeat: no-repeat;
}
